body{background-color: greenyellow;
    font-style: italic;
}
    
h1{
    color: orange;
    text-align: center;
}
h2{
    color: mediumaquamarine;
    text-align: center;
}
h3{
    color: red;
    text-align: center;
}