@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth
    
    }
body{background-color: yellow;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    
}  
h1, h2{
    text-decoration-line: underline;
}
h1{
    color: orange;
    text-decoration: blue;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
}
h2{
    color: mediumaquamarine;
    text-align: center;
    font-weight: bolder;
    font-size: 200%;
    font-family: 'Dancing Script', cursive;
}
h3{
    color: red;
    text-align: center;
    font-size: 130%;
    font-family: 'Dancing Script', cursive;
    
}
h4{
    color: red;
    text-align: center;
    font-size: 1.3em;
    font-family: 'dancing script', cursive;
    text-decoration-line: underline;
}
p{
    color: blue;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
ul{
    font-size: 1.2em;
    text-align: left;
    color: mediumblue;
    list-style-type: '😄 ';
}
#pret-vechi{
    text-decoration: line-through;
    font-size: 0.8em;
}
h3.pret {
font-size: 1.2em;
color: mediumseagreen;
font-weight: bold;
}
img{
    display: block;
    margin: auto;
}

a{
    margin: 1em;
    border-style: double;
    border-radius: 10px;
    padding: 0.2em;
    height: fit-content;
    width: fit-content;
}
blockquote{
    font-size: 1.2em;
    font-style: italic;
    color: red;
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-color: yellow;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    padding: 0.1em;
    margin-left: 23em;
    width: fit-content;
    height: 2.5em;
    background-color: lime;
    border-bottom-color: mediumblue;
    
}