div{
    width: 5em;
    height: 5em;
    font-family: sans-serif;
    color: white;
    text-align: center;
    
}
#a{
    background-color: blue;
}
#b{
    background-color: yellow;
}
#c{
    background-color: red;
}
#d{
    background-color: springgreen;
}