div{
    width: 5em;
    height: 5em;
    background-color: orangered;
    animation-name: /* move */ photobombing, colorize;
    animation-duration: 3s, 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: /* infinite */ 1;
    animation-direction: normal;
    animation-timing-function: linear;
}
/* @keyframes move {
    25% {
        transform: translatex(90vw) rotate(-360deg);
    }
    50% {transform: translate(90vw, 90vh) rotate(-720deg);

    }
    75% {
        transform: translate(0vw, 90vh) rotate(-1440deg);
    }
    to {
        transform: translate(0vw, 0vh) rotate(-2160deg);
    }
} */
@keyframes photobombing {
    from {
        transform: translatex(-5em);
    }
    60% {
        transform: translateX(60vw);
    }
    to {
        transform: translateX(45vw);
    }
}
@keyframes colorize {
    to {
        background-color: seagreen;
    }
}