table{
    border-style: solid;
    border-color: teal;
    border-spacing: 0;
    border-collapse: collapse;
}
td{
    border-style: solid;
    border-color: tomato;
    padding: 0.5em;
}
th{
    border-style: solid;
    border-color: blue;
    background-color:blueviolet;
    color: white;
    text-align: left;
    text-transform: uppercase;
    padding-right: 0.5em;
}