input{
    display: block;
    margin: 0.2em 0 2em 0;
}
button{
    display: block;
}
label{
    font-family: sans-serif;
    display: block;
}
select{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 2em
}
